.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.photobox {
  width: 30%;
  height: 200px;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.photobox-demo {
  width: 50%;
  height: 200px;
  background-size: cover;
  cursor: pointer;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;
  opacity: 0;
}

.overlay-demo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.photobox-demo:hover .overlay-demo {
  opacity: 1;
}

.photobox:hover .overlay {
  opacity: 1;
}

h2 {
  color: yellow;
  position: relative;
  padding: 10px 15px;
}

h2 span {
  transition: all 0.6s ease;
}

h2 span:first-child {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2px;
  height: 0;
  background-color: yellow;
}

h2 span:nth-child(2) {
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 0;
  background-color: yellow;
}

h2 span:nth-child(3) {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 2px;
  background-color: yellow;
}

h2 span:nth-child(4) {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: yellow;
}

.photobox:hover h2 span:first-child,
.photobox:hover h2 span:nth-child(2) {
  height: 100%;
}

.photobox:hover h2 span:nth-child(3),
.photobox:hover h2 span:nth-child(4) {
  width: 100%;
}

.photobox-demo:hover h2 span:first-child,
.photobox-demo:hover h2 span:nth-child(2) {
  height: 100%;
}

.photobox-demo:hover h2 span:nth-child(3),
.photobox-demo:hover h2 span:nth-child(4) {
  width: 100%;
}
